#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(to right,
      rgb(0, 0, 0),
      /* deep black */
      rgb(3, 2, 7),
      /* violet-black */
      rgb(6, 5, 11),
      /* indigo */
      rgb(30, 35, 60),
      /* cool midnight blue */
      rgb(70, 90, 140),
      /* muted steel blue */
      rgb(120, 150, 200)
      /* soft pale blue */
    );
}

@media screen and (max-width: 400px) {
  #root {
    padding: 0;
    padding-top: 2rem;
  }
}